# sets

* Sets are used to store multiple itmes in a single variable.

In [2]:


# empty sets
set = ()
set

()

In [3]:

# set with curly braces
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [4]:

# set function
sets = (10,22,33,44,55)
sets

(10, 22, 33, 44, 55)

# add ()

add an element to the sets.if the element already exists , the set remains unchanged.

In [5]:
set1

{1, 2, 3, 4, 5}

In [6]:
set1.add(6)

In [7]:
set1

{1, 2, 3, 4, 5, 6}

# clear()


* it removes all element from the set,leaving it empty.

In [9]:

set1.clear()

In [10]:
set1

set()

# copy()

* it returns a shallow copy of the sets.

In [14]:
set1 ={10,11,12,13,14,15}

In [15]:
set1

{10, 11, 12, 13, 14, 15}

In [16]:
set1.copy()

{10, 11, 12, 13, 14, 15}

In [18]:

set1

{10, 11, 12, 13, 14, 15}

# difference()

* it returns a new set with elements that are in the set but not in the others.

In [19]:
s1 ={4,5,6}
s2 ={7,8,9}

In [20]:
diff_set = s1.difference(s2)

In [21]:
diff_set

{4, 5, 6}

# difference_update()

* it removes elements from the sets that are also in the other.

In [22]:
s1

{4, 5, 6}

In [23]:
s2

{7, 8, 9}

In [26]:
s1.difference_update(s2)
     
s1

{4, 5, 6}

# discard()

* it removes an element from the set,if it is a member.if the element is not a member,do nothing.

In [27]:
set = {7,8,9,4,5}

In [28]:
set

{4, 5, 7, 8, 9}

In [37]:
set1.discard(2)

In [38]:
set1

{10, 11, 12, 13, 14, 15}

# intersection()

* it returns a new set with element commin to set and all others

In [39]:
s1 ={4,5,6}
s2 ={7,6,4}

In [40]:
s1.intersection_update(s2)

In [41]:
s1

{4, 6}

# Isdisjoint()

* This methods returns true if the set has no elemnts in common with other.if the set and other are disjoint,returns false otherwise.

In [43]:
s1 = {4,5,6}
s2 = {7,6,4}

In [44]:
s1.isdisjoint(s2)

False

# issubset()

* it returns true if all elemnts of the sets are in other ,false otherwise.

In [45]:
s1.issubset(s2)

False

# pop()

* It removes and returns an arbitary element from the sets. raises key error if the set is empty.

In [47]:
set1 = {1,2,3,4,5}

In [48]:
set1

{1, 2, 3, 4, 5}

In [49]:
set1.pop()

1

In [50]:
set1

{2, 3, 4, 5}

# Symmetic_difference()

* it returns a new set with element in either the set or other but not in both.

In [51]:
s1

{4, 5, 6}

In [52]:
s2

{4, 6, 7}

In [53]:
s1.symmetric_difference(s2)

{5, 7}

# symmetric_differnce_update()

s1.symmetric_difference_update(s2)

In [54]:
s1

{4, 5, 6}

# update()

* This methods update the sets,adding elements from all others.

In [55]:
s1.update(s2)

In [56]:
s1

{4, 5, 6, 7}